.img {
    display:block;
    margin: 0px auto;
}

input[type="text"] {
    box-shadow: 0 0 3pt 0.1pt #dadada;
    color: #2D2D2D;
    border-radius: 50px;
}

Button:hover, Button:focus {
    border: none;
    border-radius: 50px;
}